<% if logged_in? %>
  <% if current_user.vote %>
    <h1 class="text-center">投票済みです。</h1>
    <h3 class="text-center">結果発表ページへ移動して下さい。</h3>
    <br>
    <br>
    <div class="text-center">
    <%= link_to '結果発表ページへ', rankings_path, class: 'btn btn-warning btn-lg' %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">交通</h1>
            <h3 class="text-center">Traffic</h3>
            <%= form_for(@vote) do |f| %>
            <%= hidden_field_tag :category, 'koutsu' %>
            <%= f.submit '投票', class: 'btn btn-success btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">税金問題</h1>
            <h3 class="text-center">Tax</h3>
            <%= form_for(@vote) do |f| %>
            <%= hidden_field_tag :category, 'zeikin' %>
            <%= f.submit '投票', class: 'btn btn-success btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">環境問題</h1>
            <h3 class="text-center">Environment</h3>
            <%= form_for(@vote) do |f| %>
            <%= hidden_field_tag :category, 'kankyo' %>
            <%= f.submit '投票', class: 'btn btn-success btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">年金</h1>
            <h3 class="text-center">Pension</h3>
            <%= form_for(@vote) do |f| %>
            <%= hidden_field_tag :category, 'nenkin' %>
            <%= f.submit '投票', class: 'btn btn-success btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">就労問題</h1>
            <h3 class="text-center">Jobs</h3>
            <%= form_for(@vote) do |f| %>
            <%= hidden_field_tag :category, 'shigoto' %>
            <%= f.submit '投票', class: 'btn btn-success btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">教育</h1>
            <h3 class="text-center">Education</h3>
            <%= form_for(@vote) do |f| %>
            <%= hidden_field_tag :category, 'kyoiku' %>
            <%= f.submit '投票', class: 'btn btn-success btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="col-md-6 col-md-offset-5 col-sm-6 col-xs-11"> 
  <%= link_to '結果発表ページへ', rankings_path, class: 'btn btn-lg btn-warning' %>
  </div>
  <% end %>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>i.demand</h1>
  <br>
  <p class="text-primary">この中で、何が１番気になる？今、興味のあることに投票しよう！</p><br>
  <p class="text-primary">あなたの一票で何かが変わるかも？</p>
  <p class="text-danger">投票ボタンを押した後は、再投票ができないので、<br>
                         押し間違えには気をつけて下さい。</p>
  <br>
  <%= link_to 'Sign up', signup_path, class: 'btn btn-lg btn-success' %>
  </div>
</div>
<% end %>
